*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: start;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
  
footer {
    bottom: 0;
    margin-top: auto;
    }

h2 {
  background: #FFFFFF;
  background: -moz-linear-gradient(left, #FFFFFF 0%, #0D6FFF 50%, #0A52BC 100%);
  background: -webkit-linear-gradient(left, #FFFFFF 0%, #0D6FFF 50%, #0A52BC 100%);
  background: linear-gradient(to right, #FFFFFF 0%, #0D6FFF 50%, #0A52BC 100%);
  border-radius: 4px;
}